# Ignore keys. They are private(-ish)
key.*
# Ignore pid files
*.pid
.crossbar/*.pid

# Ignore compiled Python files
*.pyc

# Ignore the testing "web" directory
web/*

# Ignore log files
**/*.log
*.log
